.panel {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  width: 100%;
  justify-items: center;
}
.panel :is(.panel__title, .panel__add) {
  text-transform: capitalize;
}

.panel__title {
  grid-column: 2;
}

.panel__add {
  justify-self: end;
}

.panel__button{
  font-size: 18px;
  font-weight: 700;
  border: 0.5px solid black;
  background-color: var(--color-navButton);
}
.panel__button:hover{
  background-color: var(--color-navButton-hover);
  transition: color 0.3s;
}