main {
  padding: var(--xlarge);
}

.data {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
}

.data--students,
.data--instructors {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(550px, 1fr));
}



@media (max-width: 595px) {
  main {
    padding: var(--xlarge) 10px;
  }
  .data--students,
  .data--instructors
  {
    grid-template-columns: repeat(auto-fit, minmax(435px, 1fr));
  }
}

@media (max-width: 375px) {
  .data--students,
  .data--instructors
  {
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  }
}
