:root {
  /* Colors */
  --color-primary: #718f94; /* Light blue */
  --color-editButton: #95ABAF;
  
  --color-removeButton: #E24559;
  --color-removeButton-hover: #DB162F;

  --color-navButton: #E4E6E3;
  --color-navButton-hover: #C2C4C1;

  --color-edit-button: #FFCD33;
  --color-edit-button-hover: #FFC30D;

  /* Fonts */
  --font-roboto: "Roboto", sans-serif;

  /* Sizes */
  --xsmall: 0.5rem;
  --small: 1rem;
  --medium: 2rem;
  --large: 3rem;
  --xlarge: 4rem;
}
