:root {
  /* Colors */
  --color-primary: #718f94; /* Light blue */
  --color-editButton: #95abaf;

  --color-removeButton: #e24559;
  --color-removeButton-hover: #db162f;

  --color-navButton: #e4e6e3;
  --color-navButton-hover: #c2c4c1;

  /* Fonts */
  --font-roboto: "Roboto", sans-serif;

  /* Sizes */
  --xsmall: 0.5rem;
  --small: 1rem;
  --medium: 2rem;
  --large: 3rem;
  --xlarge: 4rem;
}
